  <h1>Upload your Summary!</h1>
<div>
  <div *ngIf="error">
    {{ error.message }}
  </div>
  <div *ngIf="uploadResponse.status === 'error'">
    {{ uploadResponse.message }}
  </div>
  <div *ngIf="uploadResponse.status === 'progress'">


    <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      {{uploadResponse.message}}%
    </div>

  </div>
  <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field class="example-full-width">
      <mat-label>Course</mat-label>
      
      <input type="text"
           
             matInput
             [formControl]="myControl"
             [matAutocomplete]="autoCourse"
             name="course"
            >
      <mat-autocomplete #autoCourse="matAutocomplete" 
      [displayWith]="displayFn"
      (optionSelected)='getCourse($event.option.value)'>
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    
    </mat-form-field>
    
    <mat-form-field class="example-full-width"  
  
    >
      <mat-label>Course Appearance</mat-label>
      <input type="text"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="autoCourseApp"
             name="courseApp"
             [readonly]="!showAutocomplete"
                         >
      <mat-autocomplete #autoCourseApp="matAutocomplete" 
      [displayWith]="displayFnApp"
      (optionSelected)='getCourseApp($event.option.value)'>
        <mat-option *ngFor="let app of filteredOptionsApp | async" [value]="app" >
          {{app.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    

    
    
    <!-- <input type="file" name="summary"  (change)="onFileChange($event)" /> -->


    <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
      <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
    </div>
      <div  class="files-list" *ngFor="let file of files;let i=index">
        <p>{{ file }}</p>
        <button class="delete-file" (click)="deleteAttachment(i)">
          <img src="../../assets/Recycle_Bin_Full.png">
        </button>
      </div>



    
    <button type="submit">Upload</button>

  </form>
</div>





<!-- <input  type="file" accept="image/*"  name="summary" id="file-upload-form" class="uploader" (change)="onFileChange($event)" />

<label for="file-upload" id="file-drag">
  <img id="file-image" src="#" alt="Preview" class="hidden">
  <div id="start">
    <i class="fa fa-download" aria-hidden="true"></i>
    <div>Select a file or drag here</div>
    <div id="notimage" class="hidden">Please select an image</div>
    <span id="file-upload-btn" class="btn btn-primary" >Select a file</span>
  </div>
  <div id="response" class="hidden">
    <div id="messages"></div>
    <progress class="progress" id="file-progress" value="0">
      <span>0</span>%
    </progress>
  </div>
</label>
<button type="submit">Upload</button> -->