<!-- 
<button class="button" igxButton="raised" [igxToggleAction]="dropdown"
[igxDropDownItemNavigation]="dropdown">Options</button>
<igx-drop-down #dropdown>
<igx-drop-down-item *ngFor="let course of courses">
    {{ course.name }}
</igx-drop-down-item>
</igx-drop-down> -->

<!-- 
<mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let course of courses" [value]="option">
      {{course.name}}
    </mat-option>
  </mat-autocomplete> -->
<!-- Shareable short link of  uoloaded file -->
<!-- <div class="container text-center jumbotron"
    *ngIf="shortLink"> 
    <h2> Visit Here</h2> 
    <a href="{{shortLink}}">{{shortLink}}</a> 
</div> 
   -->
<!--Flag variable is used here-->
<!-- <div class="container" *ngIf="loading"> 
    <h3>Loading ...</h3> 
</div>  -->