/*
    div {
      background: rgb(135, 212, 135);
    }
    
    div.first {
      background: rgb(251, 253, 251);
    }
    
    div.second {
      background: rgba(0, 128, 0, 0.3);
    }
    
    div.third {
      background: rgba(0, 128, 0, 0.6);
    }
 */
 h1 {
    text-align: center;
  }
  input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
