<div class="exam-directory">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h2>Exam Directories</h2>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Course</th>
                <th></th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let directory of examDirectories">
                <td>{{directory.courseId.name}}</td>
                <td>
                  <button id="btn-{{directory._id}}" (click)="openDirectory(directory._id)" class="btn btn-success" style="margin-left: 10px">Open</button>
              </td>
              </tr>
            </tbody>
            
          </table>
        </div>
      </div>
    
    </div>