
  @media only screen 
  and (max-device-width : 700px) 
   {
    .navbar-collapse{
      background: rgba(255, 255, 255, 0.7);
    }
  }
  input[type=text]:focus {
    width: 100%;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
    
  }

  .navbar-header{
    

display: table;
width: 100%;
  }
.navbar-center{
  display: table-cell;
  width: 400px;
}
.navbar-right{

display: table-cell;
}
.navbar-logo{

  width: 90px;
  height: 90px;
  padding-top: 3px;
  display: table-cell;
}
  .dropdown-item{
    padding-left: 7px;
  }
  .navbar{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.7);
  }

  ul li {
    padding-top: 8px;
  }
  .user{
    padding-top: 15px;
    padding-right: 10px;
  }
  p{
      font-size: medium;
  }
  .users-img{
    width: 55px;
    height: 55px;
    border-radius: 50%;

  }
  .right-non-collapsed-nav{
   float: right;
    top: 0;

    z-index: 1;
  }
  .right-non-collapsed-nav ul li{
    width: 50%;
    float: right;

  }
  .navbar-toggle{
    background-color:snow;
  }
 