
<form (ngSubmit)="onSubmit()" >
    <div id="login-box">
      <div class="left">
        <h1>Update Details</h1> 
        
        <!-- <input type="text" placeholder="Username" [(ngModel)]="user.name" name="name" required> -->
      
        <!-- <input type="password" placeholder="Password" [(ngModel)]="user.password" name="password" required> -->
  
        
        <label for="image"><b>Profile picture</b></label>
        <input type="file" class="file-upload" name="image" (change)="onFileChange($event)" />
        
        <button type="submit" class="social-signin">Submit</button>

      </div>
      
    </div>
  </form>





