
<div class="row">
    <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
</div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Exam Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle">Mange Exam <span class="caret"></span></button>
          <ul class="dropdown-menu">
              <li><a href="#">Upload file</a></li>
              <li><a href="#">Delete file</a></li>
              <li><a href="#">Share file to friends</a></li>
          </ul>
          
      </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">Description
    </div>
</div>