<div [hidden]="!isSpinner" class="loader" id="spinner"></div>

<div [hidden]="isSpinner">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Courses</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let course of courses | paginate: { itemsPerPage: itemsPerPage, currentPage: page,totalItems: totalItems}">
            <td>{{course.name}}</td>
            <td>
              <button id="btn-{{course._id}}" (click)="followCourse(course._id)" class="btn btn-success"
                style="margin-left: 10px">Unfollow</button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
    <div class="text-center">
      <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
  </div>
</div>
