<div data-aos="zoom-in" class="item">

    <div class="sample-column card-wrapper" >
        <igx-card class="card">
            <igx-card-media class ="image-container" height="300px">
                <div id="wrap"     
                >
                <iframe class="file-preview"
                id="file-preview"
                type="text/plain"
                [src]="url | safe"
        frameBorder="100"
        scrolling="no"
       
        ></iframe>
    </div>
            </igx-card-media >
    
            <igx-card-header  (click)="showFile()" >
                <h3 igxCardHeaderTitle>{{ card.title }}</h3>
                <h5 igxCardHeaderSubtitle>{{ card.subtitle }}</h5>
            </igx-card-header>
    
            <igx-card-content  (click)="showFile()">
                <p>{{ card.content }}</p>
            </igx-card-content>
    
            <igx-card-actions>
                <button igxButton igxRipple (click)="removeFromDirectory()" >delete</button>
            </igx-card-actions>
            <ngb-rating [(rate)]="currentRate" readonly="true"  max="5" class="rating"></ngb-rating>
        </igx-card>
    </div>
    </div>