<div class="main">
    <section id="home">
    <div class="first-background">
    <div class="first-section">
        <div class="info" data-aos="fade-left">
        <h2 class="heading-1">
        TAKING AN EXAM . THE EASY WAY
        </h2>
        <p >EasyTest system includes hundred of high qualtiy and ranked summaries.</p>
        <p>Can you bring your aterials to the class? Great!</p>
        <p>Now you can also use EasyTest summaries and use them with your own computer</p>
        <a class="btn" routerLink="/log-in">Get Start</a>
        </div>

        <div class="image-container" data-aos="fade-right">
        <img
        class="image-first"
        src="../assets/students.jpg"
        alt=""
        />
    </div>
    
</div>
</div>
</section>
<section id="sec">

<div class="sec-background">

    <hr>
    <div class="sec-section">
        <div class="info" data-aos="fade-left">
        <h2 class="heading-1">
        WE ARE ON DEVELOPMENT
        </h2>
        <p >EasyTest system includes hundreds of high qualtiy and ranked summaries.</p>
        <p>Can you bring your materials to the class? Great!</p>
        <p>Now you can also use EasyTest summaries and use them with your own computer</p>
        <a class="btn btn--start">Get Started</a>
        </div>

        <div class="image-container" data-aos="fade-right">
        <img
        class="image-sec"
        src="../assets/work.jpg"
        alt=""
    />
    </div>

    </div>
    </div>
    </section>
</div>