.file-header{
    padding-right: 15px;
    padding-left: 15px;
    height: 15px;
    
}
.iframe{
    height: 600px;
    
}
button{
  border-style: none;
  background-color: transparent;
}
.rating{
    color: rgba(205, 219, 5, 0.651) !important;
    font-size: 2.25rem;
    padding-bottom: 5px;
    float:left; display:inline; width: 8%;
  }
  .text-success{
    float:left; display:inline; width: 10%;

  }
  .material-icons{
    padding-bottom: 10px;
  }