.form-group{
    padding-right: 15px;
    padding-left: 15px;
    height: 15px;
    margin-bottom: 10px;
    
}
.file-header{
  margin-top: -10px;
}
.iframe{
    height: 600px;
    margin-top: 25px;
    
}
.btn-rate{
  border-style: none;
  margin-top: 5px;
}
.rating{
    color: rgba(205, 219, 5, 0.651) !important;
    font-size: 2.25rem;
    padding-bottom: 5px;
    float:left; display:inline; width: 8%;
  }
  .text-success{
    float:left; display:inline; width: 10%;

  }
  .material-icons{
    padding-bottom: 10px;
  }
  .btn-dic{
    margin-top: 2px;
    position:relative;
    border-radius: 20px;
    width:36px;
    height: 36px;
    float: right  ;

  }
  .icn-dic{
    width: 18px;
    height: 12px;
    position:absolute;
    top:4px; //change the value to set it in center
    left:4px; //change the value to set it in center
  }