
  .rating{
    color: rgba(205, 219, 5, 0.651) !important;
    font-size: 2.5rem;
    width: 10%;
  }
  .actions{
    text-align: center;
    width: fit-content;
    margin: auto  ;
    
    margin-top: 30px;
}
.rate-dialog{
  text-align: center;
  height: 25px;
}
button{
  margin-left: 8px;
  // margin: auto;
}
h2{
  text-align: center;
}