
div.feeddisplay{
    display: grid;
  

  
  
  
        justify-content: center;
        align-items: center;
  
      
    grid-template-columns: 30% 30% 30% ;
    grid-gap: 10px;
  
  }
  div.gridFeed{
    display: grid;
  }