
.feed-display{
  margin-top: 15px;
}
/* Large screens ----------- */
@media only screen 
and (min-width : 1200px) {
  div.feed-display{
    display: grid;
  
        justify-content: center;
        align-items: center;
      
    grid-template-columns: 30% 30% 30% ;
    grid-gap: 10px;
  
  }
}
  /* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 500px) 
and (max-device-width : 1200px) 

 {
  div.feed-display{

  display: grid;
  
  justify-content: center;
  align-items: center;
grid-template-columns: 300px ;


  }

}
  div.gridFeed{
    display: grid;
  }
.empty-feed{
  text-align: center;
}
  .search-element {
    width: 200px;
    min-width: fit-content;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  .search-element:focus {
    width: 300px;
    border: 2px solid rgb(160, 172, 226);
  }
.container{
  width: 200px;
  margin: auto;
  margin-top: 50px;

}
.course-filter-options{
  margin: auto;
  margin-top: 10px;
  width: fit-content;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}
input[type=search] {
  -webkit-appearance: none;
}
.main-title-feed{
  padding-top: 50px;

  
  text-align: center;
}
.course-filter-button{
  margin-left: 10px;
}