<div [hidden]="!isSpinner" class="loader" id="spinner"></div>

<div [hidden]="isSpinner">

    <div class="search-container">
        <form (ngSubmit)="onSearchSummary()" class="form-inline waves-light" mdbWavesEffect>
            <input id="search" type="search" class="search-element" [(ngModel)]="this.searchKeyWord" name="search"
                placeholder="Search..">
        </form>
    </div>
    <br>
    <div [hidden]="summaries.length==0">
        <div class="course-filter-options">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [value]="searchedCourse">
                <mat-button-toggle *ngFor="let courseOption of followedCourses" value="{{courseOption._id}}"
                    (change)="onValChange($event.value)" class="course-filter-button">
                    {{courseOption.name}}</mat-button-toggle>

            </mat-button-toggle-group>
        </div>



        <div class="feed-display">
            <app-feed-item *ngFor="let summary of summaries" [summary]="summary"></app-feed-item>
        </div>
    </div>
    <h4 class="empty-feed" [hidden]="summaries.length!=0">Add Courses To See The Hottest Summaries!</h4>
</div>