<body>
  <form (ngSubmit)="onSearchCourse()">
    <div class="container">
      <input type="text" placeholder="Enter Course Name ..." [(ngModel)]="this.searchValue" name="Attribute" required>
      <div class="clearfix">
        <button type="submit" class="SEARCH">Search</button>
      </div>
    </div>
  </form>

  <hr>
<div class="row">
    <div class="col-xs-12" style="margin: 10px;">
      <app-course-item *ngFor="let courseEl of courses" [course]="courseEl"></app-course-item>
    </div>
  </div>

  <hr>
  <div>
    <ul class="nav nav-pills">
      <li class="nav-item" *ngFor="let p of pages; let i = index">
        <a class="nav-item" href="" (click)="setPage(i,$event)">{{i}}</a>
      </li>
    </ul>
  </div>
</body>