

    <form (ngSubmit)="onSubmitLogIn()"  >
      <div id="login-box">
        <div class="left">
          <h1>Log In</h1>
             
          <input type="text" placeholder="Enter Email" [(ngModel)]="email" name="email" required>
              
          <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="password" required>
    
          <button type="submit" class="social-signin">Log In</button>

        </div>
        
        <div class="right social">
          <span class="loginwith">Sign in with<br />social network</span>
          
          <button class="social-signin facebook"><i class="fab fa-facebook"></i>Log in with facebook</button>
          <button class="social-signin twitter">Log in with Twitter</button>
          <button class="social-signin google">Log in with Google+</button>
        </div>
      </div>
    </form>



