
<div
class="p-5 text-center bg-image"
style="
  background-image: url('https://img.wallpapersafari.com/tablet/2560/1700/34/23/jAZLIk.jpg');
  height: 100%;
  
  margin-bottom: 58px;
"
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
      <div class="center">
        <div class="logo">
        <img
        src="https://lh5.googleusercontent.com/BhhgMLODm65M2l8bSyf9Dv4h2P5PdbCmunbiAZnAGHlZvvRDb182CDDoU5UOtueeH2GH8j3xtqL2eqqJl3yjAkf7GsJuekOY_7XDhElGAB6fPDDF_vEvBcqHNHEP6Qf8NERuUBO68VU"
        alt="logo">
      </div>
      </div>
      <div class="main-title">
        <h3 class="deepshd"> Exams. Without papers </h3>

      </div>
        </div>
        </div>
      </div>
    </div>
 <app-feed></app-feed>
  